<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>




<form action="/excel" th:action="@{/excel}" th:object="${data}" method="post" enctype="multipart/form-data">
    <p>path: <input type="text" th:field="*{path}" name="path" /></p>
    <p>file: <input type="file" th:field="*{file}" name="file" accept=".xls,.xlsx" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>


</body>
</html>