<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ფაილების მენეჯერი</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--<script src="/webjars/jquery/jquery.min.js"></script>-->
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/app.js"></script>

    <style>

       body {font-family: Arial;}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}
#info_excel{display:none;}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

    </style>
</head>
<body>







<div class="tab">
    <button class="tablinks" onclick="openForm(event, 'copy')">ფაილების კოპირება სერვერიდან ცხრილის მიხედვით</button>
    <button class="tablinks" onclick="openForm(event, 'copyloc')">ფაილების კოპირება ლოკალური დირექტორიიდან ცხრილის მიხედვით</button>
    <button class="tablinks" onclick="openForm(event, 'copylocMDB')">ფაილების კოპირება ლოკალურად - MDB</button>


    <button class="tablinks" onclick="openForm(event, 'split')">ფოლდერის დაშლა</button>
    <button class="tablinks" onclick="openForm(event, 'splitnew')">ფოლდერის დაშლა(ორიგინალის შენარჩუნებით)</button>
    <button class="tablinks" onclick="openForm(event, 'checkboth')">ფაილების შემოწმება</button>
</div>

<div id="copy" class="tabcontent">
    <h3>ფაილების კოპირება სერვერიდან თქვენს კომპიუტერზე ცხრილის მიხედვით</h3>
    <form id="excel" action="/excel" th:action="@{/excel}" th:object="${data}" method="post" enctype="multipart/form-data">
        <p>ფოლდერის მისამართი სადაც უნდა მოხდეს კოპირება: <input type="text" th:field="*{path}" name="path" /></p>
        <p>ექსელის ფაილი: <input type="file" th:field="*{file}" name="file" accept=".xls,.xlsx" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
    <div id="progressInfo_excel"></div>
    <!--<table class="table table-striped" id="excelResponse">
        <thead>
        <tr><th>info</th></tr>
        </thead>
        <tbody id="progressTable"></tbody>
    </table>-->
    <div id="info_excel"></div>
</div>
<div id="copyloc" class="tabcontent">
    <h3>ფაილების კოპირება ლოკალიდან სხვა დირექტორიაში ცხრილის მიხედვით</h3>
    <form  id="copylocal" action="/localDownload" th:action="@{/localDownload}" th:object="${data}" method="post" enctype="multipart/form-data">
        <p>ფოლდერის მისამართი საიდანაც უნდა მოხდეს კოპირება(ბოლოს წინა ფოლდერი): <input type="text" th:field="*{src}" name="src" /></p>
        <p>ფოლდერის მისამართი სადაც უნდა მოხდეს კოპირება: <input type="text" th:field="*{dest}" name="dest" /></p>
        <p>ექსელის ფაილი: <input type="file" th:field="*{file}" name="file" accept=".xls,.xlsx" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
    <div id="progressInfo_copylocal"></div>
    <table class="table table-striped" id="excelResponse1">
        <thead>
        <tr><th>info</th></tr>
        </thead>
        <tbody id="progressTable1"></tbody>
    </table>
    <div id="info_copylocal"></div>
    <div id="response_copylocal"></div>
</div>




<div id="copylocMDB" class="tabcontent">
    <h3>ფაილების კოპირება ლოკალიდან სხვა დირექტორიაში ცხრილის მიხედვით</h3>
    <form  id="copylocalMDB" action="/mdb" th:action="@{/mdb}" th:object="${data}" method="post" enctype="multipart/form-data">
        <p>ფოლდერის მისამართი საიდანაც უნდა მოხდეს კოპირება(ბოლოს წინა ფოლდერი): <input type="text" th:field="*{src}" name="src" /></p>
        <p>ფოლდერის მისამართი სადაც უნდა მოხდეს კოპირება: <input type="text" th:field="*{dest}" name="dest" /></p>
        <p>ექსელის ფაილი: <input type="file" th:field="*{file}" name="file"  /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
    <div id="progressInfo_copylocalMDB"></div>

    <div id="info_copylocalMDB"></div>
    <div id="response_copylocalMDB"></div>
</div>














<div id="split" class="tabcontent">
    <h3>დიდი ფოლდერის დაშლა</h3>
    <form action="/splitFolder" th:action="@{/splitFolder}" th:object="${data}" method="post" enctype="multipart/form-data">
        <p>ფოლდერის მისამართი თქვენს კომპიუტერზე(ბოლო ფოლდერი): <input type="text" th:field="*{folderPath}" name="folderPath" /></p>
        <p>მაქსიმალური ფაილების ოდენობა თითო ფოლდერში: <input type="number" th:field="*{chunckSize}" name="chunckSize"  /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</div>
<div id="splitnew" class="tabcontent">
    <h3>დიდი ფოლდერის დაშლა</h3>
    <form action="/split" th:action="@{/split}" th:object="${data}" method="post" enctype="multipart/form-data">
        <p>დასაშლელი ფოლდერის მისამართი თქვენს კომპიუტერზე(ბოლო ფოლდერი): <input type="src" th:field="*{src}" name="src" /></p>
        <p>ჩაწერის მისამართი(ბოლოს წინა ფოლდერი): <input type="dest" th:field="*{dest}" name="dest" /></p>
        <p>მაქსიმალური ფაილების ოდენობა თითო ფოლდერში: <input type="number" th:field="*{chunkSize}" name="chunkSize"  /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</div>

<div id="checkboth" class="tabcontent">
    <h3>ფაილები, რომლებიც არ მოიძებნება ფოლდერში და პირიქით, არსებობს მაგრამ ცხრილში არაა</h3>
    <form action="/checkboth" th:action="@{/check}" th:object="${data}" method="post" enctype="multipart/form-data">
        <p>ფოლდერის მისამართი(ბოლოს წინა ფოლდერი) : <input type="text" th:field="*{path}" name="path" /></p>
        <p>ექსელის ფაილი: <input type="file" th:field="*{file}" name="file" accept=".xls,.xlsx" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</div>




</body>
</html>